*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
:root{
    --text-color:white;
    --first-color:#1D1C3B;
    --second-color:#45454d;
    --movie-description-color:#ACACAC;
}
html{
    scroll-behavior:smooth;
}
body{
    font-size: 100%;
    list-style-type: none;
    background: var(--first-color);
    
}
header{
    height:14rem;
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:90vw;
}
.page-title{
    font-weight: lighter;
    text-align: center;
    padding:1em;
    color:var(--text-color);
}


/* MAYBE COME BACK TO FIX SEARCH BAR AND SEARCH ICON */
form {
    display: flex;
    justify-content:center;
    border-radius: 5px;
    margin-bottom:30px;
}
.search{
    position: absolute;
    padding:1.4em;
    padding-right:4rem;
    width:40rem;
    border-radius: 8px;
    border: 0;
    background:var(--second-color);
    color:var(--text-color);
}
.search:focus{
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    border:1px solid var(--text-color);
}

button[type="submit"] {
    position:relative;
    text-indent: -999px;
    overflow: hidden;
    width:50px;
    top:1px;
    height:4.2em;
    left:22em;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
}
.search:focus ~ button[type="submit"] {
    color:var(--text-color);
}






/* CHECKBOX: */
.container {
    display: block;
    position: relative;
    margin:auto;
    padding-left: 35px;
    margin-bottom: 12px;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:var(--text-color);
}
/* Hide the browser's default checkbox */
.container input {
    opacity: 0;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 2px;
    left: 5px;
    height: 20px;
    width: 20px;
    background-color: var(--first-color);
    border: 2px solid var(--second-color);
    border-radius: 6px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: var(--second-color);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
left: 6px;
top: 2px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}

.movies{
    padding:5rem;
}

.movie{
    display:flex;
    margin:auto;
    align-items: center;
    background:var(--first-color);
    margin-bottom: 3em;
    width:1224px;
    height:20vh;
    box-sizing: content-box;
    box-shadow: 32.8387px 24.5482px 79px rgba(0, 0, 0, 0.15), 23.8851px 17.855px 53.2479px rgba(0, 0, 0, 0.121406), 16.6246px 12.4276px 34.4391px rgba(0, 0, 0, 0.10125), 10.9035px 8.15079px 21.3701px rgba(0, 0, 0, 0.0867188), 6.56775px 4.90965px 12.8375px rgba(0, 0, 0, 0.075), 3.46346px 2.58907px 7.6377px rgba(0, 0, 0, 0.0632813), 1.4367px 1.07399px 4.56719px rgba(0, 0, 0, 0.04875), 0.333519px 0.249318px 2.42246px rgba(0, 0, 0, 0.0285938);;
}
.poster{
    position: absolute;
    height:9rem;
    width:9rem;
    border-radius:100%;
    margin:3rem;
}
.movie,p{
    color:var(--text-color);
    font-weight: lighter;
}
.movie-info{
    position: relative;
    left:15rem;
    width:100%;
}
.movie-title{
    padding-bottom:1em;
}
.rating{
    margin-right: .6em;
    vertical-align:text-top;
}
.movie-favorite-icon{
    margin-left:3em;
    margin-right: .6em;
    vertical-align:text-top;
}
.movie-favorite-icon:hover{
    cursor:pointer;
}
.check-favorite{
    position: absolute;
    left:6.86em;
    width:50px;
    height:20px;
    opacity: 0;
}
.check-favorite:hover{
    cursor: pointer;
}
.check-favorite:checked + .movie-favorite-icon{
    fill:red;
}
.movie-description{
    padding:3rem;
    width:120%;
    color:var(--movie-description-color);
}




/* IMAGES */
#first-image{
    background-image: url("https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_.jpg");
    background-position:30% 20%;
    background-size:120%;
}
#second-image{
    background-image: url("https://images.bauerhosting.com/legacy/empire-tmdb/films/157336/images/xu9zaAevzQ5nnrsXN6JcahLnG4i.jpg?format=jpg&quality=80&width=960&height=540&ratio=16-9&resize=aspectfill");
    background-position:40% 20%;
    background-size:200%;
}
#third-image{
    background-image: url("https://i0.wp.com/br.nacaodamusica.com/wp-content/uploads/2022/03/the_batman-800x540.jpg");
    background-position:50% 10%;
    background-size:200%;
}
#fourth-image{
    background-image: url("https://s2.glbimg.com/T4CRp2Bwz6QyXh-3IfI-XzHjgvk=/e.glbimg.com/og/ed/f/original/2022/08/23/fa27tr6usaaajx1.jpg");
    background-position:90% 20%;
    background-size:120%;
}