header{
    height:14rem;
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}
.page-title{
    font-weight: lighter;
    width:fit-content;
    margin:auto;
    padding:1em;
    color:var(--text-color);
}
form div{
    display: flex;
    justify-content:center;
    border-radius: 5px;
    margin-bottom:30px;
}
.search{
    position: absolute;
    padding:1.4em;
    padding-right:4rem;
    width:40rem;
    border-radius: 8px;
    border: 0;
    background:var(--second-color);
    color:var(--text-color);
}
.search:focus{
    outline: none !important;
    box-shadow: 0 0 10px #719ECE;
    border:1px solid var(--text-color);
}

button[type="submit"] {
    position:relative;
    text-indent: -999px;
    overflow: hidden;
    width:50px;
    top:1px;
    height:4.2em;
    left:22em;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
}
.search:focus ~ button[type="submit"] {
    color:var(--text-color);
}