@import url(./header.css);
@import url(./checkbox.css);
@import url(./movies.css);

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --text-color:white;
    --first-color:#1D1C3B;
    --second-color:#45454d;
    --movie-description-color:#ACACAC;
    --no-movie-font-size:3rem;
}

html{
    scroll-behavior:smooth;
}
html::-webkit-scrollbar{
    background:var(--first-color);
    width:10px;
}
html::-webkit-scrollbar-thumb{
    background:var(--second-color);
    border-radius: 8px;
}

body{
    font-size: 100%;
    list-style-type: none;
    background: var(--first-color);
}
